<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node pkg="img_publisher" type="publisher.py" name="img_publisher_0" />
  <include file="$(find darknet_ros)/launch/darknet_ros.launch" >
    <arg name="image" value="/image_raw_0" />
    <arg name="bounding_boxes" value="/darknet_ros/bounding_boxes_0" />
  </include>
  <node pkg="nodelet" type="nodelet" name="orcvio_nodelet_manager"  args="manager" output="screen"/>
  <include file="$(find starmap)/launch/sort-ros.launch" >
    <arg name="nodelet_manager" value="orcvio_nodelet_manager" />
  </include>
  <include file="$(find starmap)/launch/starmap.launch" >
    <arg name="nodelet_manager" value="orcvio_nodelet_manager" />
  </include>
  <!-- node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view_det"
        args=" /sort_ros/detection_image"/-->
  <!-- node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view_vis"
       args=" /starmap/visualization/theora"/--> 
</launch>
